<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>SimpleScheme Magazine - About Us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://malsup.github.io/jquery.cycle.all.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
</head>

<body>
    <!-- BEGIN wrapper -->
    <div id="wrapper">
        <!-- BEGIN header -->
        <div id="header">
            <!-- begin pages -->
            <ul class="pages">
                <li><a href="/">Trang Chủ</a></li>
                <li><a href="/postarticle">Đăng Bài</a></li>
                <li><a href="page.html">Đăng Nhập</a></li>
            </ul>
            <!-- end pages -->

            <div class="break"></div>
            <!-- begin logo -->
            <div class="logo">
                <h1><a href="/">Giao Thông</a></h1>
                <p>Nơi tổng hợp những tin tức nóng nhất về giao thông</p>
            </div>
            <!-- end logo -->
            <!-- begin sponsor -->
            <!-- <div class="sponsor"> <a href="#"><img src="{{ url_for('static',filename='images/_thumb.jpg') }}" alt="" /></a> </div> -->
            <!-- end sponsor -->
            <!-- begin categories -->
            <ul class="categories">
                <li><a href="/hochiminh/0">Hồ Chí Minh</a></li>
                <li><a href="/hanoi/0">Hà Nội</a></li>
                <li><a href="/danang/0">Đà Nẵng</a></li>
                <li><a href="/tinhkhac/0">Tỉnh Khác</a></li>
            </ul>
            <!-- end categories -->
        </div>
        <!-- END header -->
        <!-- BEGIN content -->
        <div id="content">
            <!-- begin recent posts -->
            <div class="recent">
                <!-- begin post -->
                <div class="single">
                    <h1 class="title">Cái giá Trump có thể phải trả để mở cửa kinh tế.</h1>
                    <p class="description">Trump sốt sắng mở cửa đất nước trở lại, nhưng giới chuyên gia cảnh báo hàng chục nghìn người Mỹ có thể trả giá bằng sinh mạng vì điều đó.</p>
                    <p><img class="alignright" src="{{url_for('static', filename='images/trump.jpg')}}" alt="" /></p> <br>
                    <div class="content">
                        <p>Hơn nửa số bang của Mỹ đã bắt đầu nới phong tỏa như một tín hiệu lạc quan về việc mở cửa nền kinh tế, điều vô cùng quan trọng đối với hy vọng tái tranh cử của Tổng thống Donald Trump và hơn 30 triệu người mất việc vì Covid-19.
                            Tuy nhiên, những dự báo mới nhất về số người chết và nhiễm nCoV được công bố như một gáo nước lạnh dội vào những tín hiệu lạc quan đó.</p>

                        <p>Trong cuộc phỏng vấn với kênh Fox News hôm 3/5, Tổng thống Mỹ thừa nhận số người chết vì Covid-19 sẽ vượt qua những dự báo trước đây của Nhà Trắng. "Chúng ta sẽ mất 80.000-100.000 người. Đó là điều rất tồi tệ", Trump nói. </p>

                        <p>Viện Đo lường và Đánh giá Sức khỏe (IHME) thuộc Đại học Washington hôm 4/5 thay đổi mô hình dự báo, cho rằng 134.000 người Mỹ có thể chết vì nCoV cho tới tháng 8 năm nay, gấp đôi dự đoán của cơ quan này đưa ra hồi tháng trước.
                            Các chuyên gia của IHME cho biết một trong những lý do khiến họ tăng mức dự báo ca tử vong là sự gia tăng đi lại khi cách biệt cộng đồng được nới lỏng quá sớm ở các bang.</p>

                        <p>Trong khi đó, một báo cáo nội bộ của Trung tâm Kiểm soát và Phòng ngừa Dịch bệnh (CDC) Mỹ cho biết nước này có thể tăng 200.000 ca nhiễm nCoV mới một ngày vào tháng 6, trong khi số ca tử vong cũng có thể tăng gấp đôi, lên khoảng
                            3.000 người/ngày. Những dự báo mới cùng với số liệu thực tế về tình hình dịch bệnh ở nhiều bang cho thấy Mỹ không cơ sở khoa học nào để mở cửa các hoạt động kinh doanh, nhà hàng, quán bar.</p>

                        <p>Anthony Fauci, cố vấn hàng đầu trong nhóm ứng phó với Covid-19 của Nhà Trắng, nói ông không biết về các giả định được đưa ra trong các mô hình dự báo mới, nhưng cho rằng chúng không sai khi cho rằng nới phong tỏa sẽ khiến gia tăng
                            số ca nhiễm. "Tìm kiếm lựa chọn cân bằng cho một vấn đề luôn rất khó khăn", Fauci nói trên chương trình "Cuomo Prime Time" của CNN ngày 4/5. "Bạn sẵn sàng chấp nhận bao nhiêu mạng người và khổ đau để được quay trở về điều bạn
                            hằng mong muốn, một cuộc sống bình thường, sớm hơn?" Mỹ đã ghi nhận hơn 70.000 người chết và hơn 1,2 triệu người nhiễm nCoV. Nhưng đó không phải là những nạn nhân duy nhất trong cuộc khủng hoảng y tế công cộng được cho là tồi
                            tệ nhất trong 100 năm qua. Hơn 30 triệu người Mỹ đã mất việc làm vì phong tỏa và số phận của họ cho thấy trong đại dịch này, việc đóng cửa các cơ sở kinh doanh là điều đúng đắn về mặt khoa học, nhưng lại không hợp lý về mặt
                            kinh tế. </p>

                    </div>
                </div>
                <!-- end post -->
            </div>
            <!-- end recent posts -->
        </div>
        <!-- END content -->
        <!-- BEGIN sidebar -->
        <div id="sidebar">
            <!-- begin sponsors -->
            <div class="box">
                <p class="sponsors">
                    <a href="#"><img src="{{url_for('static', filename='images/logobk.jpg')}}" alt="" height="200" width="200" /></a>
                    <!-- <a href="#"><img src="images/ad125x125.jpg" alt="" /></a>  -->
                </p>

                <ul class="bookmarks">
                    <li class="twt"><a href="https://www.youtube.com/channel/UCtJfJDUG_TtiFNwneW3bnSg?view_as=subscriber">Follow me on Youtube</a></li>
                    <li class="fcb"><a href="https://facebook.com/lequanghuyyy">Connect with me on Facebook</a></li>
                    <li class="ldi"><a href="https://github.com/hnbandomachi">Connect with me on Github</a></li>
                </ul>
            </div>
            <!-- end sponsors -->
            <!-- begin popular posts -->
            <div class="box">
                <h2>Bài viết phổ biến</h2>
                <ul class="popular">
                    <li> <a href="#">Top 10 Ways to Make Money Online</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse interdum..</p>
                    </li>
                    <li> <a href="#">Top 10 Ways to Make Money Online</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse interdum..</p>
                    </li>
                    <li> <a href="#">Top 10 Ways to Make Money Online</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse interdum..</p>
                    </li>
                </ul>
            </div>

            <div class="l">
                <!-- begin categories -->
                <div class="box">
                    <h2>Categories</h2>
                    <ul>
                        <li><a href="#">Advertising</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Gadgets</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Networking</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Sports</a></li>
                    </ul>
                </div>
                <!-- end categories -->
                <!-- begin meta -->
                <div class="box">
                    <h2>Meta</h2>
                    <ul>
                        <li><a href="#">Log in</a></li>
                        <li><a href="#">Valid XHTML</a></li>
                    </ul>
                </div>
                <!-- end meta -->
            </div>
            <!-- END left -->
            <!-- BEGIN right -->
            <div class="r">
                <!-- begin archives -->
                <div class="box">
                    <h2>Archives</h2>
                    <ul>
                        <li><a href="#">June 2009</a></li>
                        <li><a href="#">May 2009</a></li>
                        <li><a href="#">April 2009</a></li>
                        <li><a href="#">March 2009</a></li>
                        <li><a href="#">February 2009</a></li>
                    </ul>
                </div>
                <!-- end archives -->
                <!-- begin blogroll -->
                <div class="box">
                    <h2>Blogroll</h2>
                    <ul>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Suggest Ideas</a></li>
                        <li><a href="#">Support Forum</a></li>
                    </ul>
                </div>
                <!-- end archives -->
            </div>
            <!-- END right -->
        </div>
        <!-- END sidebar -->
    </div>
    <!-- END wrapper -->
    <!-- BEGIN footer -->

    <!-- END footer -->
</body>

</html>