<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Tin tức giao thông</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.cycle.all.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
</head>

<body>
    <!-- BEGIN wrapper -->
    <div id="wrapper">
        <!-- BEGIN header -->
        <div id="header">
            <!-- begin pages -->
            <ul class="pages">
                <li><a href="/">Trang Chủ</a></li>
                <li><a href="/thanhvien">Thành Viên Đăng nhập</a></li>
                <li><a href="/login">Admin Đăng Nhập</a></li>
                <li><a href="/newuser">Đăng Ký Thành Viên Mới</a></li>
            </ul>
            <!-- end pages -->

            <div class="break"></div>
            <!-- begin logo -->
            <div class="logo">
                <h1><a href="/">Giao Thông</a></h1>
                <p>Nơi tổng hợp những tin tức nóng nhất về giao thông</p>
            </div>
            <!-- end logo -->
            <!-- begin sponsor -->
            <!-- <div class="sponsor"> <a href="#"><img src="{{ url_for('static',filename='images/_thumb.jpg') }}" alt="" /></a> </div> -->
            <!-- end sponsor -->
            <!-- begin categories -->
            <ul class="categories">
                <li><a href="/hochiminh/0">Hồ Chí Minh</a></li>
                <li><a href="/hanoi/0">Hà Nội</a></li>
                <li><a href="/danang/0">Đà Nẵng</a></li>
                <li><a href="/tinhkhac/0">Tỉnh Khác</a></li>
            </ul>
            <!-- end categories -->
        </div>
        <!-- END header -->
        <!-- BEGIN content -->
        <div id="content">
            <!-- begin featured -->
            <div id="featured">
                <div class="post">
                    <h2><a href="/{{khu_vucS[0]}}/{{id_baiS[0]}}">{{tieu_deS[0]}}</a></h2>
                    <div class="thumb">
                        <a href="/{{khu_vucS[0]}}/{{id_baiS[0]}}"><img src="{{hinh_anhS[0]}}" alt="" /></a>
                    </div>
                    <p>{{mo_taS[0]}}</p>
                    <div class="break"></div>
                </div>

                <div class="post">
                    <h2><a href="/{{khu_vucS[1]}}/{{id_baiS[1]}}">{{tieu_deS[1]}}</a></h2>
                    <div class="thumb">
                        <a href="/{{khu_vucS[1]}}/{{id_baiS[1]}}"><img src="{{hinh_anhS[1]}}" alt="" /></a>
                    </div>
                    <p>{{mo_taS[1]}}</p>
                    <div class="break"></div>
                </div>

                <div class="post">
                    <h2><a href="/{{khu_vucS[2]}}/{{id_baiS[2]}}">{{tieu_deS[2]}}</a></h2>
                    <div class="thumb">
                        <a href="/{{khu_vucS[2]}}/{{id_baiS[2]}}"><img src="{{hinh_anhS[2]}}" alt="" /></a>
                    </div>
                    <p>{{mo_taS[2]}}</p>
                    <div class="break"></div>
                </div>

            </div>
            <!-- end featured -->
            <!-- begin recent posts -->
            <div class="recent">
                <!-- begin post -->
                <div class="o post">
                    <a href="/{{khu_vucS[0]}}/{{id_baiS[0]}}"><img src="{{hinh_anhS[0] }}" height="100" width="120" alt="" /></a>
                    <h2><a href="/{{khu_vucS[0]}}/{{id_baiS[0]}}">{{tieu_deS[0]}}</a></h2>
                    <p>{{mo_taS[0]}}</p>
                </div>
                <!-- end post -->
                <!-- begin post -->
                <div class="e post">
                    <a href="/{{khu_vucS[1]}}/{{id_baiS[1]}}"><img src="{{hinh_anhS[1] }}" height="100" width="120" alt="" /></a>
                    <h2><a href="/{{khu_vucS[1]}}/{{id_baiS[1]}}">{{tieu_deS[1]}}</a></h2>
                    <p>{{mo_taS[1]}}</p>
                </div>
                <!-- end post -->
                <!-- begin post -->
                <div class="o post">
                    <a href="/{{khu_vucS[2]}}/{{id_baiS[2]}}"><img src="{{hinh_anhS[2] }}" height="100" width="120" alt="" /></a>
                    <h2><a href="/{{khu_vucS[2]}}/{{id_baiS[2]}}">{{tieu_deS[2]}}</a></h2>
                    <p>{{mo_taS[2]}}</p>
                </div>
                <!-- end post -->
                <!-- begin post -->
                <div class="e post">
                    <a href="/{{khu_vucS[3]}}/{{id_baiS[3]}}"><img src="{{hinh_anhS[3] }}" alt="" height="100" width="120" /></a>
                    <h2><a href="/{{khu_vucS[3]}}/{{id_baiS[3]}}">{{tieu_deS[3]}}</a></h2>
                    <p>{{mo_taS[3]}}</p>
                </div>

                <div class="o post">
                    <a href="/{{khu_vucS[4]}}/{{id_baiS[4]}}"><img src="{{hinh_anhS[4] }}" alt="" height="100" width="120" /></a>
                    <h2><a href="/{{khu_vucS[4]}}/{{id_baiS[4]}}">{{tieu_deS[4]}}</a></h2>
                    <p>{{mo_taS[4]}}</p>
                </div>

                <div class="e post">
                    <a href="/{{khu_vucS[5]}}/{{id_baiS[5]}}"><img src="{{hinh_anhS[5] }}" alt="" height="100" width="120" /></a>
                    <h2><a href="/{{khu_vucS[5]}}/{{id_baiS[5]}}">{{tieu_deS[5]}}</a></h2>
                    <p>{{mo_taS[5]}}</p>
                </div>

                <div class="o post">
                    <a href="/{{khu_vucS[6]}}/{{id_baiS[6]}}"><img src="{{hinh_anhS[6] }}" alt="" height="100" width="120" /></a>
                    <h2><a href="/{{khu_vucS[6]}}/{{id_baiS[6]}}">{{tieu_deS[6]}}</a></h2>
                    <p>{{mo_taS[6]}}</p>
                </div>
                <!-- end post -->
            </div>
            <!-- end recent posts -->
        </div>
        <!-- END content -->
        <!-- BEGIN sidebar -->
        <div id="sidebar">
            <!-- begin sponsors -->
            <div class="box">
                <p class="sponsors">
                    <a href="/"><img src="{{url_for('static', filename='images/logobk.jpg')}}" alt="" height="200" width="200" /></a>
                    <!-- <a href="#"><img src="images/ad125x125.jpg" alt="" /></a>  -->
                </p>

                <ul class="bookmarks">
                    <li class="twt"><a href="https://www.youtube.com/channel/UCtJfJDUG_TtiFNwneW3bnSg?view_as=subscriber">Follow me on Youtube</a></li>
                    <li class="fcb"><a href="https://facebook.com/lequanghuyyy">Connect with me on Facebook</a></li>
                    <li class="ldi"><a href="https://github.com/hnbandomachi">Connect with me on Github</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>