<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>SimpleScheme Magazine - About Us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.cycle.all.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
    <script>
        $(function() {
            $('#duyetbai').bind('click', function() {
                $.getJSON(
                    '/duyetbai', {
                        a: $("#baiviet_id").text()
                    },
                    function() {

                    });
                location.reload();
                return false;
            });
        });
    </script>
    </script>
</head>

<body>
    <!-- BEGIN wrapper -->
    <div id="wrapper">
        <!-- BEGIN header -->
        <div id="header">
            <!-- begin pages -->
            <ul class="pages">
                <li><a href="/">Trang Chủ</a></li>
                <li><a href="/postarticle">Đăng Bài</a></li>
                <li><a href="page.html">Đăng Nhập</a></li>
            </ul>
            <!-- end pages -->

            <div class="break"></div>
            <!-- begin logo -->
            <div class="logo">
                <h1><a href="/">Giao Thông</a></h1>
                <p>Nơi tổng hợp những tin tức nóng nhất về giao thông</p>
            </div>
            <!-- end logo -->
            <!-- begin sponsor -->
            <!-- <div class="sponsor"> <a href="#"><img src="{{ url_for('static',filename='images/_thumb.jpg') }}" alt="" /></a> </div> -->
            <!-- end sponsor -->
            <!-- begin categories -->
            <ul class="categories">
                <li><a href="/hochiminh/0">Hồ Chí Minh</a></li>
                <li><a href="/hanoi/0">Hà Nội</a></li>
                <li><a href="/danang/0">Đà Nẵng</a></li>
                <li><a href="/tinhkhac/0">Tỉnh Khác</a></li>
            </ul>
            <!-- end categories -->
        </div>
        <!-- END header -->
        <!-- BEGIN content -->
        <h1>Đang chờ duyệt</h1>
        <br> {%for i in range(0, len)%}
        <div id="baiviet_id">{{baiviet_idS[i]}}</div>
        <div id="content">
            <!-- begin recent posts -->
            <div class="recent">
                <!-- begin post -->
                <div class="single">


                    <div class="single">
                        <h1 class="title">{{ tieu_deS[i] }}</h1>
                        <p class="description">{{ mo_taS[i] }}</p>
                        <p> <img class="alignright" src="{{ img_dataS[i] }}" alt=""> </p> <br>

                        <div class="content">
                            <p>
                                {{ van_banS[i] }}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <button id="duyetbai" style="border: none;
            color: rgb(0, 51, 204);
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;">Duyệt</button>
            <br> {%endfor%}
            <!-- end post -->
        </div>
        <!-- end recent posts -->
    </div>


    <!-- END content -->
    <!-- BEGIN sidebar -->

    <!-- END sidebar -->
    </div>
    <!-- END wrapper -->
    <!-- BEGIN footer -->

    <!-- END footer -->
</body>

</html>