<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Đăng nhập</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='post.css') }}" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.cycle.all.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
</head>

<body>
    <!-- BEGIN wrapper -->
    <div id="wrapper">
        <!-- BEGIN header -->
        <div id="header">
            <!-- begin pages -->
            <ul class="pages">
                <li><a href="/">Trang Chủ</a></li>
                <li><a href="/postarticle">Thành Viên Đăng nhập</a></li>
                <li><a href="/login">Admin Đăng Nhập</a></li>
                <li><a href="/newuser">Đăng Ký Thành Viên Mới</a></li>
            </ul>
            <!-- end pages -->

            <div class="break"></div>
            <!-- begin logo -->
            <div class="logo">
                <h1><a href="/">Giao Thông</a></h1>
                <p>Nơi tổng hợp những tin tức nóng nhất về giao thông</p>
            </div>
            <!-- end logo -->
            <!-- begin sponsor -->
            <!-- <div class="sponsor"> <a href="#"><img src="{{ url_for('static',filename='images/_thumb.jpg') }}" alt="" /></a> </div> -->
            <!-- end sponsor -->
            <!-- begin categories -->
            <ul class="categories">
                <li><a href="/hochiminh/0">Hồ Chí Minh</a></li>
                <li><a href="/hanoi/0">Hà Nội</a></li>
                <li><a href="/danang/0">Đà Nẵng</a></li>
                <li><a href="/tinhkhac/0">Tỉnh Khác</a></li>
            </ul>
            <!-- end categories -->
        </div>
        <!-- END header -->
        <!-- BEGIN content -->
        <form id="main-post" method=post enctype=multipart/form-data>
            <h1>Thành viên đăng nhập</h1> <br>
            <label for="">Tên đăng nhập:</label> <input type="text" name="username" id="nameAuthor">
            <label for="">Mật khẩu:</label> <input type="password" name="password" id="emailaddress">
            <input type="submit" value="Upload" class="myButton">
        </form>
        <!-- END content -->
        <!-- BEGIN sidebar -->
        <div id="sidebar">
            <!-- begin sponsors -->
            <div class="box">
                <p class="sponsors">
                    <a href="#"><img src="{{url_for('static', filename='images/logobk.jpg')}}" alt="" height="200" width="200" /></a>
                    <!-- <a href="#"><img src="images/ad125x125.jpg" alt="" /></a>  -->
                </p>

                <ul class="bookmarks">
                    <li class="twt"><a href="https://www.youtube.com/channel/UCtJfJDUG_TtiFNwneW3bnSg?view_as=subscriber">Follow me on Youtube</a></li>
                    <li class="fcb"><a href="https://facebook.com/lequanghuyyy">Connect with me on Facebook</a></li>
                    <li class="ldi"><a href="https://github.com/hnbandomachi">Connect with me on Github</a></li>
                </ul>
            </div>
        </div>
        <!-- END sidebar -->
    </div>
    <!-- END wrapper -->
    <!-- BEGIN footer -->

    <!-- END footer -->
</body>

</html>